@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Fredoka", sans-serif;
}

header {
  /* width: 100vw;
  height: 80px; */
  display: flex;
  flex-wrap: wrap;


  justify-content: space-between;
  height: 80px;
  width: auto;
  background: rgb(7, 4, 3);
  background: linear-gradient(
    90deg,
    rgba(7, 4, 3, 1) 0%,
    rgba(105, 66, 7, 1) 35%,
    rgba(190, 160, 100, 1) 100%
  );
}

footer {
  display: flex;  
  justify-content: center;  
  width: auto;
  height: 80px;
  background: rgb(7, 4, 3);
  background: linear-gradient(
    90deg,
    rgba(7, 4, 3, 1) 0%,
    rgba(105, 66, 7, 1) 35%,
    rgba(190, 160, 100, 1) 100%
  );
  padding: 1px;
}

/* img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */

img {
  width: 200px;
  height: auto;
  position: absolute;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 190px;
  width: 190px;
  padding: 10px;
  margin: 10px;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size:150%;
  
}

.logo:hover{
  color: aqua;
}
.navigator {
  float: right;
  margin: 10px;
  overflow: hidden;
  
}

.nav-menu {

  justify-content: flex-end;
}

.nav-menu li {
  padding: 10px;
  display: inline-flex;
  color: white;
}

.navbar {
  
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  float: right;
  margin: 10px;
  overflow: hidden;
  
}
button{
  color: white;
  padding: 3px;
  margin: 0;
  background-color: black;
  font-family: "Fredoka", sans-serif;
  border-radius: 15px;
  font-size: 16px;

}
button:hover{
  color: aqua;
}
.dropdown {
   position: relative;
  /*display: inline-block; */
  display: inline-block;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
    min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
  display: block;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}



.foto {
  display:block;
  
  background-image: url(https://fotografias.larazon.es/clipping/cmsimages02/2019/08/09/A7AA2F59-697E-4C7C-8853-BD72A784BE57/98.jpg?crop=2000,1125,x0,y166&width=1900&height=1069&optimize=low&format=webply);
  background-size: cover;
  background-repeat: repeat;
  min-height: 80vh;
  min-width: auto;
  margin: 0;

  width: 100%;
}

.tituloCarru {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
}
.tituloCarru:hover {
  color: aqua;
}

.tituloMenu {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.tituloMenu:hover {
  color: aqua;
}

.ulcarru {
  list-style: none;
}
.carru {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 1px;
  background-color: #b3c3dd;
}

.fechaCarru {
  display: flex;
  padding: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-collapse: separate;
  border-spacing: 20px 15px;
  border: 1px solid black;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #f48d08;
}

.textoCarru {
  list-style: none;
  display: flex;

  margin: 10px;
  width: 200px;
  height: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.textCarru {
  display: flex;
  justify-content: center;

  position: absolute;
  text-align: left;

  right: 0px;
  font-size: 80px;
  color: white;
}
